
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    
   
}


.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary{
    color: #3693ff;
      
}


#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar h2 a{
    color: #fff;
    text-decoration: none; 
}

#navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar li a:hover{
    background-color: #3693ff;

}
/** Showcase Area **/
#showcase{
    background: url(../img/lauren-mancke-aOC7TSLb1o8-unsplash.jpg) no-repeat center center/cover;
    height: 91.7vh;
}

.showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center ;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}
.showcase-content h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.showcase-content.btn{
    font-size: 1.5rem;
    padding: 1rem 10rem;
    background-color: #3693ff;
}

.showcase-content .btn:hover{
    background: #3693ff;
    color: #fff;
    transition: color 0.5;
}

.btn{
    color: #3693ff;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid #3693ff;
    border-radius: 10px;
    font-weight: bold;

}
  
  
  
  


form {
  
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: grey;
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }

  
  
  form input {
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  form button {
    background-color: steelblue;
    color: aliceblue;
    font-size: 25px;
  }

  .pp{
    font-size: larger;
    color: blue;
    font-style: italic;
  }
 
